kind: ConfigMap
apiVersion: v1
metadata:
  name: aws-auth
data:
  mapRoles: |
{% for role in roleMappings %}
    - rolearn: {{ role.arn }}
      username: {{ role.username }}
      groups:
  {% for group in role.groups %}
    - {{ group }}
  {% endfor %}

{% endfor %}

